name: Upload Website

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@main  
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        args:  --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }} 
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'eu-north-1'   
        SOURCE_DIR: 'public'      
  
    - name: Deploy static site to S3 buckets
      run: aws s3 sync . s3://tws0github-promo-demo-project --delete
    


