name: Deploy Static Site to S3

on:
  push:
    branches:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
        
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1  

      - name: Prepare build folder
        run: |
          mkdir -p build
          cp index.html build/

      - name: Sync build folder to S3
        run: |
          aws s3 sync ./build s3://${{ secrets.S3_BUCKET }} --delete

