name: Deploy to AWS S3

on:
  push:
    branches:
     - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code from repo
        uses: actions/checkout@v4
      - name: Cconfigure AWS Credentials  
        uses: aws-actions/configure-aws-credentials@v4
        with:
        
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'eu-north-1'  
          SOURCE_DIR: 'public'  
        
      - name: Deploy static site to S3 bucket  
        run: aws s3 sync . s3://tws0github-action-promo-demo-buckets  --delete



